* {
    margin: 1, auto;
  }

html {
    font-family: arial, Arial, Helvetica, sans-serif; 
    font-size: large; 
}

body {
  width: 50%;
  margin: 50px auto;
  font-weight: lighter;
  background: #5d92b6;
}

h1 {
    text-align: center;
}
.image {
    overflow: hidden;
    width:fit-content;
    height: 70%;
    margin: 70px auto;
    border-radius: 10px;
    background:rgb(103, 161, 137);
  }
  .image img {
    max-width: 100%;
    margin:0 auto;
    height: 100%;
  }

  ul {
      text-align: center;
  }

  h2 {
      text-align: center;
  }

  p {
    line-height: 150%;
    font-size:120%;
    color:rgb(31, 41, 134);
  }