* {
    margin: 1, auto;
  }

html {
    font-family: arial, Arial, Helvetica, sans-serif; 
    font-size: large; 
}

body {
  width: 50%;
  margin: 50px auto;
  font-weight: lighter;
  background: rgb(255, 255, 255);
}

h1 {
    text-align: center;
    color:rgb(4, 12, 80);
}

h3 {
  text-align: left;
  color:rgb(4, 12, 80);
}
.image {
    overflow: hidden;
    width:fit-content;
    height: 70%;
    margin: 70px auto;
    border-radius: 10px;
    background:rgb(103, 161, 137);
  }
  .image img {
    max-width: 100%;
    margin:0 auto;
    height: 100%;
  }

  li {
      text-align: center;
     
    
  }

  h2 {
      text-align: center;
      color:rgb(4, 12, 80);
  }

  p {
    line-height: 150%;
    font-size:120%;
    color:rgb(4, 12, 80);
  }

  .by {
  
    font-size: medium;
    text-align:center;
  }